/*----------------------------------------------------------------------------*\
    $BREADCRUMB
    Breadcrumb styling applied to (ordered) lists, extends `.nav`
\*----------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------*\
    $CONTENTS
\*----------------------------------------------------------------------------*/

    /*
    CONTENTS................You're reading it, LOL
    MODULE..................Includes base module & submodules
    STATE...................States the module can be in
    THEME...................Theming of the module
    */





/*----------------------------------------------------------------------------*\
    $MODULE
\*----------------------------------------------------------------------------*/

    /**
     * Since breadcrumb needs '.nav' to work,
     * check if '.nav' is enabled
     */
    @if $use-modules-nav == true {
    @if $use-modules-breadcrumb == true{

        /*  eg.:
            <ol class="nav breadcrumb">
                <li><a href="#">Home</a></li>
            </ol>
         */
        .breadcrumb > li + li:before{
            content: "» ";
        }

        /* breadcrumb path */
        .breadcrumb-path > li + li:before{
            content: "/ ";
        }

        /*  Assign a delimiter on the fly through a data attribute, e.g.:
            <ol class="nav breadcrumb">
                <li><a href="#">Home</a></li>
                <li data-breadcrumb="|"><a href="#">About</a></li>
            </ol>
         */
        .breadcrumb > li + li[data-breadcrumb]:before{
            content: attr(data-breadcrumb)" ";
        }

    } // use-modules-breadcrumb
    } // use-modules-nav





/*----------------------------------------------------------------------------*\
    $STATE
\*----------------------------------------------------------------------------*/

    /* Media Queries
       The default media queries shipped with Blocss:
       Uncomment the ones you need
    \*------------------------------------------------------------------------*/

        /**
         * Desk-wide state
         */
        //@include media-query(desk-wide){}


        /**
         * Desk state
         */
        //@include media-query(desk){}


        /**
         * Portable state
         */
        //@include media-query(portable){}


        /**
         * Lap state
         */
        //@include media-query(lap){}


        /**
         * Lapup state
         */
        //@include media-query(lapup){}


        /**
         * Palm state
         */
        //@include media-query(palm){}





/*----------------------------------------------------------------------------*\
    $THEME
\*----------------------------------------------------------------------------*/