@if $use-modules-nav == true {
@if $use-modules-breadcrumb == true {
/*----------------------------------------------------------------------------*\
    $BREADCRUMB
    Breadcrumb styling applied to (ordered) lists, extends `.nav`
\*----------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------*\
    $CONTENTS
\*----------------------------------------------------------------------------*/

    /*
    CONTENTS................You're reading it, LOL
    MODULE..................Includes base module & submodules
    STATE...................States the module can be in
    THEME...................Theming of the module
    */





/*----------------------------------------------------------------------------*\
    $MODULE
\*----------------------------------------------------------------------------*/

    /**
     * Example HTML:
     *
       <ol class="nav  nav--breadcrumb">
           <li><a href="#">Home</a></li>
       </ol>
     */
    .nav--breadcrumb > li + li:before {
        content: "» ";
    }

    /* breadcrumb path */
    .nav--breadcrumb--path > li + li:before {
        content: "/ ";
    }


    /**
     * Assign a delimiter on the fly through a data attribute, e.g.:
     *
       <ol class="nav  nav--breadcrumb">
           <li><a href="#">Home</a></li>
           <li data-breadcrumb="|"><a href="#">About</a></li>
       </ol>
     */
    .nav--breadcrumb > li + li[data-breadcrumb]:before {
        content: attr(data-breadcrumb)" ";
    }





/*----------------------------------------------------------------------------*\
    $STATE
\*----------------------------------------------------------------------------*/





/*----------------------------------------------------------------------------*\
    $THEME
\*----------------------------------------------------------------------------*/
} // use-modules-breadcrumb
} // use-modules-nav