@if $use-modules-buttons == true {
/*----------------------------------------------------------------------------*\
    $BUTTONS
    Basic button structural styling. Extend in your theme stylesheet.
\*----------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------*\
    $CONTENTS
\*----------------------------------------------------------------------------*/

    /*
    CONTENTS................You're reading it, LOL
    MODULE..................Includes base module & submodules
    STATE...................States the module can be in
    THEME...................Theming of the module
    */





/*----------------------------------------------------------------------------*\
    $MODULE
\*----------------------------------------------------------------------------*/

    /**
     * The button classes are best applied to links, buttons, and submit inputs.
     * These components can be used in forms, as calls to action, or as part of
     * the general UI of the site/app.
     *
     * Recommended use:
     *
       <a class="button  [button--modifier]" role="button" href="[url]">button text</a>
       <button class="button  [button--modifier]" type="submit">button text</button>
       <input class="button  [button--modifier]" type="submit" value="button text">
     */

    /**
     * Button template
     *
     * Build on this component using rulesets in your application-level CSS.
     *
     * 1. Inherit text color from ancestor.
     * 2. Inherit font styles from ancestor.
     * 3. If the button’s text is 1em, and the button is (2 * font-size) tall,
     *    then there is .5em of space above and below that text. We therefore
     *    apply 1em of space to the left and right, as padding, to keep
     *    consistent spacing.
     * 4. Prevent wrapping across multiple lines.
     * 5. Corrects inability to style clickable `input` types in iOS
     */
    .button {
        position: relative;
        display: inline-block;
        padding-top: 0;
        padding-bottom: 0;
        border: 1px solid;
        margin: 0;
        background: transparent;
        color: inherit; /* 1 */
        cursor: pointer;
        font: inherit; /* 2 */
        line-height: 2; /* 3 */
        padding-left: 1em; /* 3 */
        padding-right: 1em; /* 3 */
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
        white-space: nowrap; /* 4 */
        -webkit-appearance: none; /* 5 */

        &:hover,
        &:focus,
        &:active {
            text-decoration: none;
        }


        /**
         * Remove excess padding and border in Firefox 4+
         */
        &::-moz-focus-inner {
            border: 0;
            padding: 0;
        }
    }



    /* Sizes
    \*------------------------------------------------------------------------*/

        /**
         * Button size modifiers
         */
        .button--small {
            padding-right: 0.5em;
            padding-left: 0.5em;
            line-height: 1.5;
        }
        .button--large {
            padding-right: 1.5em;
            padding-left: 1.5em;
            line-height: 3;
        }
        .button--huge {
            padding-right: 2em;
            padding-left: 2em;
            line-height: 4;
        }


        /**
         * full-width modifier
         */
        .button--full {
            display: block;
            width: 100%;
        }



    /* Font sizes
    \*------------------------------------------------------------------------*/

        /**
         * Button font-size modifiers
         */
        .button--alpha {
            @include font-size($h1-size, false);
        }
        .button--beta {
            @include font-size($h2-size, false);
        }
        .button--gamma {
            @include font-size($h3-size, false);
        }
        .button--delta {
            @include font-size($h4-size, false);
        }
        .button--epsilon {
            @include font-size($h5-size, false);
        }
        .button--zeta {
            @include font-size($h6-size, false);
        }
        .button--milli {
            @include font-size($milli-size, false);
        }
        .button--micro {
            @include font-size($micro-size, false);
        }


        /**
         * Make the button inherit sizing from its parent.
         */
        .button--normalis {
            vertical-align: baseline;
            font-size: inherit;
            line-height: inherit;
            padding-right: 0.5em;
            padding-left: 0.5em;
        }



    /* Dirty firefox hack, to circumvent line-height bug
    \*------------------------------------------------------------------------*/

        input[type="submit"] {
            &.button {
                height: 2em;
            }
            &.button--small {
                height: 1.5em;
            }
            &.button--large {
                height: 3em;
            }
            &.button--huge {
                height: 4em;
            }
        }







/*----------------------------------------------------------------------------*\
    $STATE
\*----------------------------------------------------------------------------*/





/*----------------------------------------------------------------------------*\
    $THEME
\*----------------------------------------------------------------------------*/
} // use-modules-buttons