/*----------------------------------------------------------------------------*\
    $BUTTONS
    Basic button structural styling. Extend in your theme stylesheet.
\*----------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------*\
    $CONTENTS
\*----------------------------------------------------------------------------*/

    /*
    CONTENTS................You're reading it, LOL
    MODULE..................Includes base module & submodules
    STATE...................States the module can be in
    THEME...................Theming of the module
    */





/*----------------------------------------------------------------------------*\
    $MODULE
\*----------------------------------------------------------------------------*/

    @if $use-modules-buttons == true{

        .btn{
            font: inherit;
            cursor: pointer;
            border: none;
            display: inline-block;
            margin: 0;
        }
            .btn,
            .btn:hover{
                text-decoration: none;
            }

        .btn-full{
            display: block;
            text-align: center;
            /* The following is so that `.btn-full` works properly on inputs */
            padding-right: 0;
            padding-left: 0;
            width: 100%;
        }

    } // use-modules-buttons





/*----------------------------------------------------------------------------*\
    $STATE
\*----------------------------------------------------------------------------*/

    /* Media Queries
       The default media queries shipped with Blocss:
       Uncomment the ones you need
    \*------------------------------------------------------------------------*/

        /**
         * Desk-wide state
         */
        //@include media-query(desk-wide){}


        /**
         * Desk state
         */
        //@include media-query(desk){}


        /**
         * Portable state
         */
        //@include media-query(portable){}


        /**
         * Lap state
         */
        //@include media-query(lap){}


        /**
         * Lapup state
         */
        //@include media-query(lapup){}


        /**
         * Palm state
         */
        //@include media-query(palm){}





/*----------------------------------------------------------------------------*\
    $THEME
\*----------------------------------------------------------------------------*/