@if $use-modules-flexbox == true{
/*----------------------------------------------------------------------------*\
    $FLEXBOX
    Kinda emulate flexbox until we can use it natively
\*----------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------*\
    $CONTENTS
\*----------------------------------------------------------------------------*/

    /*
    CONTENTS................You're reading it, LOL
    MODULE..................Includes base module & submodules
    STATE...................States the module can be in
    THEME...................Theming of the module
    */





/*----------------------------------------------------------------------------*\
    $MODULE
\*----------------------------------------------------------------------------*/

    /*  eg.:
        <div class="flex">
            <div class="flex__item">
                <b>Welcome to</b>
            </div>
            <div class="flex__item">
                <img src="" alt="">
            </div>
        </div>
    */

    .flex{
        display: table;
        width: 100%;
    }
        .flex__item{
            display: table-cell;
            vertical-align: middle;
        }





/*----------------------------------------------------------------------------*\
    $STATE
\*----------------------------------------------------------------------------*/





/*----------------------------------------------------------------------------*\
    $THEME
\*----------------------------------------------------------------------------*/
} // use-modules-flexbox