@if $use-modules-greybox == true{
/*----------------------------------------------------------------------------*\
    $GREYBOX
    Quickly throw together greybox wireframes. Use in conjunction with other
    blocs to create simple greybox prototypes.
\*----------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------*\
    $CONTENTS
\*----------------------------------------------------------------------------*/

    /*
    CONTENTS................You're reading it, LOL
    MODULE..................Includes base module & submodules
    STATE...................States the module can be in
    THEME...................Theming of the module
    */





/*----------------------------------------------------------------------------*\
    $MODULE
\*----------------------------------------------------------------------------*/

    .greybox {
        @include font-size(12px);
        font-family: sans-serif;
        text-align: center;
        background-color: rgba(0,0,0,0.2);
        color: #fff;
    }
        .greybox a {
            color: #fff;
            text-decoration: underline;
        }

    /**
     * All greyboxes will occupy 100% of their parent’s width, but
     * to alter their heights we apply incrementally larger line-heights:
     */
    .greybox--small {
        line-height: 2 * $base-line-height;
    }
    .greybox--medium {
        line-height: 4 * $base-line-height;
    }
    .greybox--large {
        line-height: 8 * $base-line-height;
    }
    .greybox--huge {
        line-height: 16 * $base-line-height;
    }
    .greybox--gigantic {
        line-height: 32 * $base-line-height;
    }





/*----------------------------------------------------------------------------*\
    $STATE
\*----------------------------------------------------------------------------*/





/*----------------------------------------------------------------------------*\
    $THEME
\*----------------------------------------------------------------------------*/
} // use-modules-greybox