/*----------------------------------------------------------------------------*\
    $GREYBOX
    Quickly throw together greybox wireframes. Use in conjunction with other
    blocs to create simple greybox prototypes, e.g.:
\*----------------------------------------------------------------------------*/

    @if $use-modules-greybox == true{

    .greybox{
        @include font-size(12px);
        font-family: sans-serif;
        text-align: center;
        background-color: rgba(0,0,0,0.2);
        color: #fff;
    }
        .greybox a{
            color: #fff;
            text-decoration: underline;
        }

    }