/*----------------------------------------------------------------------------*\
    $MEDIA
    Place any image- and text-like content side-by-side
    As per: stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code
\*----------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------*\
    $CONTENTS
\*----------------------------------------------------------------------------*/

    /*
    CONTENTS................You're reading it, LOL
    MIXINS..................Module specific mixins
    MODULE..................Includes base module & submodules
    STATE...................States the module can be in
    THEME...................Theming of the module
    */





/*----------------------------------------------------------------------------*\
    $MIXINS
\*----------------------------------------------------------------------------*/

    /**
     * Collapsed media
     */
    @mixin media-collapse (){
        .media__img,
        .media__img--rev,
        .media__image,
        .media__image--rev {
            @include rem(margin, 0 auto $space);
            display: block;
            float: none;
            max-width: 100%;

            img {
                display: inline-block;
                margin-bottom: 0;
            }
        }
    }





@if $use-modules-media == true{
/*----------------------------------------------------------------------------*\
    $MODULE
\*----------------------------------------------------------------------------*/

    /**
     * Place any image- and text-like content side-by-side
     *
     * Extends `.sign` in `generic/_shared.scss`
     * Extends `.cf` in `generic/_clearfix.scss`
     *
     * Sample usage:
       <div class="media">
           <div class="media__img">
              <img/>
           </div>
           <div class="media__body"></div>
       </div>
     */
    .media {
        @extend .cf;
        @extend .sign;
        display: block;
    }
        /**
         * Image location left
         */
        .media__img,
        .media__image {
            @include rem(margin-right, $space);
            float: left;
        }

        /**
         * Reversed image location (right instead of left)
         */
        .media__img--rev,
        .media__image--rev {
            @include rem(margin-left, $space);
            float: right;
            margin-right: 0;
        }
            .media__img img,
            .media__img--rev img,
            .media__image img,
            .media__image--rev img {
                display:block;
            }


        /**
         * Content body
         *
         * Extends `%module` in `generic/_shared.scss`
         */
        .media__body {
            @extend %module;
            overflow: hidden;
        }


    /**
     * Modifyer: Collapsed media
     */
    .media--collapse {
        @include media-collapse;
    }



    /* Location based modifyers
    \*------------------------------------------------------------------------*/

        /**
         * Islets have a slightly smaller padding value than normal.
         * With this in mind we make the `.media__img` spacing a little smaller for
         * visual consistency.
         */
        .islet {
            .media__img,
            .media__image {
                @include rem(margin-right, $space-half);
            }
            .media__img--rev,
            .media__image--rev {
                @include rem(margin-left, $space-half);
            }
        }


        /**
         * Continent have a slightly bigger padding value than normal.
         * With this in mind we make the `.media__img` spacing a little bigger for
         * visual consistency.
         */
        .continent {
            .media__img,
            .media__image {
                @include rem(margin-right, $space*2);
            }
            .media__img--rev,
            .media__image--rev {
                @include rem(margin-left, $space*2);
            }
        }





/*----------------------------------------------------------------------------*\
    $STATE
\*----------------------------------------------------------------------------*/

    @if $responsive == true {
        /**
         * Modifyer: Collapse media based on breakpoint
         */
        @each $state in $breakpoint-has-collapsed-media {
            @include media-query(#{$state}) {
                .media--collapse--#{$state} {
                    @include media-collapse;
                }
            }
        }
    }





/*----------------------------------------------------------------------------*\
    $THEME
\*----------------------------------------------------------------------------*/
} // use-modules-media