@if $use-modules-nav == true{
/*----------------------------------------------------------------------------*\
    $NAV
\*----------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------*\
    $CONTENTS
\*----------------------------------------------------------------------------*/

    /*
    CONTENTS................You're reading it, LOL
    MODULE..................Includes base module & submodules
    STATE...................States the module can be in
    THEME...................Theming of the module
    */





/*----------------------------------------------------------------------------*\
    $MODULE
\*----------------------------------------------------------------------------*/

    /**
     * When used on an `ol` or `ul`, this class throws the list
     * into horizontal mode
     * Sample markup:
     *
       <ul class="nav">
           <li><a>Home</a></li>
       </ul>
     */
    .nav,
    .navigation {
        @extend .cf;
        padding: 0;
        margin: 0;
        list-style: none;

        > li {

            &,
            > a {
                display:inline-block;
            }
        }
    }


    /**
     * Modifyer: Stacked nav
     * `.nav--stacked` extends `.nav` and renders the list into vertical mode
     * Sample markup:
       <ul class="nav  nav--stacked">
           <li><a>Home</a></li>
       </ul>
     */
    .nav--stacked {
        > li {
            display: list-item;

            > a {
                display: block;
            }
        }
    }


    /**
     * Modifyer: Banner nav
     * `.nav--banner` extends `.nav` and centers the list
     * Sample markup:
       <ul class="nav  nav--banner">
           <li><a>Home</a></li>
       </ul>
     */
    .nav--banner {
        text-align: center;
    }





/*----------------------------------------------------------------------------*\
    $STATE
\*----------------------------------------------------------------------------*/





/*----------------------------------------------------------------------------*\
    $THEME
\*----------------------------------------------------------------------------*/
} // use-modules-nav