@if $use-modules-nav == true {
@if $use-modules-pagination == true{
/*----------------------------------------------------------------------------*\
    $PAGINATION
    Basic pagination object, extends `.nav`
\*----------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------*\
    $CONTENTS
\*----------------------------------------------------------------------------*/

    /*
    CONTENTS................You're reading it, LOL
    MODULE..................Includes base module & submodules
    STATE...................States the module can be in
    THEME...................Theming of the module
    */





/*----------------------------------------------------------------------------*\
    $MODULE
\*----------------------------------------------------------------------------*/

    /*
     * Sample code:
       <ol class="nav nav--pagination">
           <li class="nav--pagination_first">First</li>
           <li><a href="">1</a></li>
           <li><a href="">2</a></li>
           <li class="active"><a href="">3</a></li>
           <li class="nav--pagination_last"><a href="">Last</a></li>
       </ol>
     */
    .nav--pagination{
        text-align: center;

        > li{
            @include rem(padding, $half-spacing-unit);

            > a{
                @include rem(padding, $half-spacing-unit);
                @include rem(margin, -$half-spacing-unit);
            }
        }
    }
        .nav--pagination__first a:before{
            content: "« ";
        }
        .nav--pagination__last a:after{
            content: " »";
        }





/*----------------------------------------------------------------------------*\
    $STATE
\*----------------------------------------------------------------------------*/





/*----------------------------------------------------------------------------*\
    $THEME
\*----------------------------------------------------------------------------*/
} // use-modules-pagination
} // use-modules-nav