@if $use-modules-rules {
/*----------------------------------------------------------------------------*\
    $RULES
\*----------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------*\
    $CONTENTS
\*----------------------------------------------------------------------------*/

    /*
    CONTENTS................You're reading it, LOL
    MODULE..................Includes base module & submodules
    STATE...................States the module can be in
    THEME...................Theming of the module
    */





/*----------------------------------------------------------------------------*\
    $MODULE
\*----------------------------------------------------------------------------*/

    /**
     * Horizontal rule component
     *
     * 1. Sets border color, extend in your theme stylesheet.
     */
    .rule {
        @include rem(margin-bottom, $space - 1);
        border: none;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        color: #ccc; /* 1 */
    }


    /**
     * Modifyer: Dotted rule
     */
    .rule--dotted {
        border-bottom-style: dotted;
    }


    /**
     * Modifyer: Dashed rule
     */
    .rule--dashed {
        border-bottom-style: dashed;
    }


    /**
     * Modifyer: Ornamental rule
     * Places a § over the rule.
     */
    .rule--ornament {
        position: relative;

        &:after {
            position: absolute;
            top:     0;
            right: 0;
            left:    0;
            content: "§";
            line-height: 0;
            text-align: center;
        }


        /**
         * Pass in an arbitrary ornament though a data attribute, e.g.:
         * <hr class="rule rule-ornament" data-ornament="!">
         */
        &[data-ornament]:after {
            content: attr(data-ornament);
        }
    }





/*----------------------------------------------------------------------------*\
    $STATE
\*----------------------------------------------------------------------------*/





/*----------------------------------------------------------------------------*\
    $THEME
\*----------------------------------------------------------------------------*/
} // use-modules-rules