/*----------------------------------------------------------------------------*\
    $SPLIT
    A simple split-in-two object
\*----------------------------------------------------------------------------*/

    @if $flag-modules-split{

    .split{
        text-align: right;
        list-style: none;
        margin-left: 0;
    }
        .split-title{
            text-align: left;
            float: left;
            clear: left;
        }

    }