/*----------------------------------------------------------------------------*\
    $SPRITE
\*----------------------------------------------------------------------------*/

    @if $use-modules-sprite == true{

    /* add background-image in theme to apply sprite */
    .sprite{
        position: relative;
        display: inline-block;
        overflow: hidden;
        /* The typical size of most icons. Override in your theme stylesheet */
        width: 16px;
        height: 16px;
        zoom: 1;
        font-style: normal;
        text-align: center;
        vertical-align: middle;
        top: -1px;
        /* Image replacement, hides text out of element */
        text-indent: 100%;
        white-space: nowrap;
    }

    }