/*----------------------------------------------------------------------------*\
    DEFAULTS
    Blocss’ default variables. Redefine and override them in your `_vars.scss`
    file, found in blocsstrap.
\*----------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------*\
    $CONTENTS
\*----------------------------------------------------------------------------*/

    /*
    TYPOGRAPHY
    BRAND
    SPACING
    RESPONSIVE
    GRID
    MODULES
    MISC
    */





/*----------------------------------------------------------------------------*\
    $TYPOGRAPHY
\*----------------------------------------------------------------------------*/

    /**
     * Font
     */
    $base-font-family:                  "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif!default;


    /**
     * Type
     */
    $base-font-size:                    16px!default;
    $base-line-height:                  24px!default; // e.g. base-font-size * 1.5


    /**
     * Headings (in pixels)
     */
    $giga-size:                         96px!default; // .giga
    $mega-size:                         72px!default; // .mega
    $kilo-size:                         48px!default; // .kilo

    $h1-size:                           36px!default; // .alpha
    $h2-size:                           30px!default; // .beta
    $h3-size:                           24px!default; // .gamma
    $h4-size:                           20px!default; // .delta
    $h5-size:                           16px!default; // .epsilon
    $h6-size:                           14px!default; // .zeta

    $milli-size:                        12px!default; // .milli
    $micro-size:                        10px!default; // .micro





/*----------------------------------------------------------------------------*\
    $SPACING
\*----------------------------------------------------------------------------*/

    /**
     * Assign our `$base-line-height` to a new spacing var for
     * more transparency
     */
    $base-spacing-unit:                 $base-line-height!default;
    $half-spacing-unit:                 $base-spacing-unit/2!default;





/*----------------------------------------------------------------------------*\
    $BRAND
\*----------------------------------------------------------------------------*/

    $base-color:                        #222!default;
    $brand-face:                        $base-font-family!default;
    $brand:                             #369!default;


    /**
     * Colors of notices
     */
    $notice-face-color:                 inherit!default;
    $notice-base:                       #BDE5F8!default;
    $notice-success:                    #DFF2BF!default;
    $notice-warning:                    #FEEFB3!default;
    $notice-error:                      #FFBABA!default;


    /**
     * How big would you like round corners to be by default?
     */
    $brand-round:                       $half-spacing-unit!default;





/*----------------------------------------------------------------------------*\
    $RESPONSIVE
\*----------------------------------------------------------------------------*/

    /**
     * responsive?
     */
    $responsive:                        true!default;


    /**
     * Responsiveness for widescreen/high resolution and beyond?
     */
    $responsive-extra:                  false!default;


    /**
     * Tell Blocss when breakpoints start
     */
    $lap-start:                         481px!default;
    $desk-start:                        1024px!default;
    $desk-wide-start:                   1200px!default;




/*----------------------------------------------------------------------------*\
    $GRID
\*----------------------------------------------------------------------------*/

    /**
     * Grid style, inline-block or floating?
     */
    $grid-style-floating:               false!default;


    /**
     * Defines the gutter between grid items, multiplies by $base-spacing-unit
     */
    $grid-gutter-multiplier:            1!default;


    /**
     * Grid direction, switch to 'right' for rtl
     */
    $grid-direction:                    left!default;


    /**
     * Width divisions, makes it easy to create several proportional
     * grids (e.g., both a 2-part and a 12-part grid).
     *
     * For example, `2 3 6 12` will let you use the unit-1-2, unit-2-4,
     * unit-3-6, and unit-6-12 classes to specify that an element should
     * take up 50% of its container.
     */
    $width-divisions:                   4 12!default;





/*----------------------------------------------------------------------------*\
    $MODULES
    Wich baked-in modules you'd like to use?
\*----------------------------------------------------------------------------*/

    /**
     * Base
     */
    $use-base-quotes:                  true!default;
    $use-base-code:                    true!default;
    $use-base-tables:                  true!default;
    $use-base-forms:                   true!default;


    /**
     * Modules
     */
    $use-modules-grid:                 true!default;
    $use-modules-flexbox:              true!default;
    $use-modules-nav:                  true!default;
        $use-modules-breadcrumb:       true!default;
        $use-modules-pagination:       true!default;
    $use-modules-media:                true!default;
    $use-modules-flexembed:            true!default;
    $use-modules-island:               true!default;
    $use-modules-matrix:               true!default;
    $use-modules-link-complex:         true!default;
    $use-modules-split:                true!default;
    $use-modules-sprite:               true!default;
    $use-modules-buttons:              true!default;
    $use-modules-rules:                true!default;
    $use-modules-greybox:              true!default;
    $use-modules-notice:               true!default;


    /**
     * Generic
     */
    $use-generic-widths:               true!default;
    $use-generic-push:                 true!default;





/*----------------------------------------------------------------------------*\
    $MISC
\*----------------------------------------------------------------------------*/

    /**
     * Global border-box ALL the things, as per:
     * paulirish.com/2012/box-sizing-border-box-ftw
     */
    $global-border-box:                 true!default;


    /**
     * Enable debug mode to highlight possible markup/accessibility
     * quirks in your code
     */
    $debug-mode:                        false!default;