/*  =========================================================================
    objects.list-clean
    Strip appearance from lists by removing their bullets and indents
    ========================================================================= */

/*  Module
    Core module
    ========================================================================= */

.o-list-clean {
  list-style: none;
  margin-left: 0;
}


/**
 * Item specific class
 * declaring this might only be necessary on `dd` childs for instance
 */
.o-list-clean__item {
  margin-left: 0;
}
