@charset "UTF-8";
/*----------------------------------------------------------------------------*\
        theme.scss
        Theme stylesheet, extends Blocss F/E Framework
\*----------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------*\
        CONTENTS
\*----------------------------------------------------------------------------*/

    /*
    README
    INCLUDES............Include various sass files
    BASE................High-level elements like 'html', 'body', etc.
    TYPOGRAPHY..........Headings, links, buttons, lists etc.
    NAVIGATION..........Styling of navigation elements
    LAYOUT..............Structural styling
    MODULES.............Reusable, modular parts of the page
    STATE...............Styling of modules in a particular state
    */





/*----------------------------------------------------------------------------*\
    $README
\*----------------------------------------------------------------------------*/

    /*
    Here we set up some variables, include Blocss F/E Framework & compass css3,
    then add our theme-specific components afterwards.

    Compass is not a prerequisite for Blocss to work, so you can easily
    comment it out.

    In your terminal, navigate to the root of your project & run one of
    the following commands to watch & compile the file:
    Compass:    compass watch
    Sass:       sass --watch public/sass/theme.scss:public/css/theme.css
    */





/*----------------------------------------------------------------------------*\
    $INCLUDES
    Include various sass files
\*----------------------------------------------------------------------------*/

    @import "vars";
    @import "compass/css3";
    @import "blocss/blocss";

    /**
     * Animation engine from Dan Eden: http://daneden.me/animate/
     * Uncomment only if needed, since this produces A LOT of code
     * Optional classes for use in an OOCSS manner
     */
    //@import "animate";
    //@import "animate/classes"





/*----------------------------------------------------------------------------*\
    $BASE
    High-level elements like 'html', 'body', etc.
\*----------------------------------------------------------------------------*/

    body{
        font-family: $base-font-family;
    }





/*----------------------------------------------------------------------------*\
    $TYPOGRAPHY
    Headings, links, buttons, lists etc.
\*----------------------------------------------------------------------------*/





/*----------------------------------------------------------------------------*\
    $NAVIGATION
    Styling of navigation elements
\*----------------------------------------------------------------------------*/





/*----------------------------------------------------------------------------*\
    $LAYOUT
    Structural styling
\*----------------------------------------------------------------------------*/





/*----------------------------------------------------------------------------*\
    $MODULES
    Reusable, modular parts of the page
\*----------------------------------------------------------------------------*/





/*----------------------------------------------------------------------------*\
    $STATE
    Styling of modules in a particular state
\*----------------------------------------------------------------------------*/

    /*  Media Queries
        The default media queries shipped with Blocss
    \*------------------------------------------------------------------------*/

        /**
         * Desk
         */
        @include media-query(desk){}


        /**
         * Portable
         */
        @include media-query(portable){}


        /**
         * Lap
         */
        @include media-query(lap){}


        /**
         * Lapup
         */
        @include media-query(lapup){}


        /**
         * Palm
         */
        @include media-query(palm){}