/*----------------------------------------------------------------------------*\
    $BASE
    High-level elements like 'html', 'body', etc.
\*----------------------------------------------------------------------------*/

    html{
        font: #{($base-font-size/16px)*1em}/($base-line-height / $base-font-size) serif;
        overflow-y: scroll;
        min-height: 100%;
    }