/*  =========================================================================
    elements.headings
    Simple default styles for headings 1 through 6.
    As per: https://csswizardry.com/2012/02/pragmatic-practical-font-sizing-in-css/
    ========================================================================= */

/*  Variables
    ========================================================================= */

$blocss-font-alpha:  36px !default;
$blocss-font-beta:  28px !default;
$blocss-font-gamma:  24px !default;
$blocss-font-delta:  20px !default;
$blocss-font-epsilon:  18px !default;
$blocss-font-zeta:  16px !default;



/*  Module
    ========================================================================= */

h1 {
  @include blocss-font-size($blocss-font-alpha);
}

h2 {
  @include blocss-font-size($blocss-font-beta);
}

h3 {
  @include blocss-font-size($blocss-font-gamma);
}

h4 {
  @include blocss-font-size($blocss-font-delta);
}

h5 {
  @include blocss-font-size($blocss-font-epsilon);
}

h6 {
  @include blocss-font-size($blocss-font-zeta);
}
