/*  =========================================================================
    settings.responsive
    Used in conjunction with Sass MQ: https://sass-mq.github.io/sass-mq/
    ========================================================================= */

/*  Variables
    ========================================================================= */

$mq-base-font-size: $blocss-font-size !default;
$mq-static-breakpoint: wall !default;

$mq-breakpoints: (
  palm: 320px,
  lap: 640px,
  desk: 960px,
  wall: $blocss-static-breakpoint
);
