/**
 * Adds Margin bottom based on magic number
 * With an optional flag to enable '!important'
 */
@mixin m-margin-bottom($multiplier: 1, $important: false) {
    @if $use-vertical-rhythm == true {
        @include rem(margin-bottom, $multiplier * $space, $important);
    } @else {
        $append: null!default;
        @if $important {
            $append: !important;
        }
        /**
         * 1em is the browsers default margin on headings & paragraphs
         */
        margin-bottom: $multiplier *1em $append;
    }
}


/**
 * Calculates height based on magic number
 * If you want to use 'min-' or 'max-' height, use the prefix param
 */
@mixin m-height($multiplier: 1, $prefix:"") {
    @if $use-vertical-rhythm == true {
        #{$prefix}height: $multiplier * $base-line-height;
        #{$prefix}height: ($multiplier * ($base-line-height / $base-font-size))*1rem;
    } @else {
        #{$prefix}height: ($multiplier * $line-height-ratio)*1em;
    }
}