/*----------------------------------------------------------------------------*\
    $EMBEDDED
    images, canvas, svg
\*----------------------------------------------------------------------------*/

    /*  Images
    \*------------------------------------------------------------------------*/

        img{
            max-width: 100%;
            height: auto;
        }


        /**
         * Placement variations
         */
        .img-right{
            float: right;
            margin-bottom: $base-spacing-unit;
            margin-left: $base-spacing-unit;
        }
        .img-left{
            float: left;
            margin-right: $base-spacing-unit;
            margin-bottom: $base-spacing-unit;
        }
        .img-center{
            display: block;
            margin-right: auto;
            margin-bottom: $base-spacing-unit;
            margin-left: auto;
        }


        /**
         * Keep your images on your baseline.
         * 
         * Please note, these will not work too nicely with fluid images and will
         * distort when resized below a certain width. Use with caution.
         */
        .img-short{
            @include m-height(5);
        }
        .img-medium{
            @include m-height(10);
        }
        .img-tall{
            @include m-height(15);
        }


        /**
         * Images in `figure` elements.
         */
        figure > img{
            display: block;
        }