@if $use-base-forms == true{
/*----------------------------------------------------------------------------*\
    $FORMS
    Basic form styling
\*----------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------*\
    $CONTENTS
\*----------------------------------------------------------------------------*/

    /*
    CONTENTS................You're reading it, LOL
    MODULE..................Includes base module & submodules
    STATE...................States the module can be in
    THEME...................Theming of the module
    */





/*----------------------------------------------------------------------------*\
    $MODULE
\*----------------------------------------------------------------------------*/

    /* input styling */
    .text-input{
        display: block;
        padding: 0px;
        max-width: 100%;
        @include m-height();
        border: 1px solid #ccc; // override color in you theme stylesheet
        background: #fff; // override color in you theme stylesheet

        &:focus{
            border: 1px solid #aaa;
            color: #444; // override in you theme stylesheet
        }
    }

    .textarea{
        @extend .text-input;
        height: auto;
        min-height: 60px;
    }

    .text-input.error,
    .textarea.error,
    .text-input.error:focus,
    .textarea.error:focus{
        border: 1px solid #f00;
        color: #f00;
    }

    /* labels */
    label,
    .label{
        display:block;
    }





/*----------------------------------------------------------------------------*\
    $STATE
\*----------------------------------------------------------------------------*/

    /* Media Queries
       The default media queries shipped with Blocss:
       Uncomment the ones you need
    \*------------------------------------------------------------------------*/

        /**
         * Desk-wide state
         */
        //@include media-query(desk-wide){}


        /**
         * Desk state
         */
        //@include media-query(desk){}


        /**
         * lt-desk state
         */
        //@include media-query(lt-desk){}


        /**
         * Lap state
         */
        //@include media-query(lap){}


        /**
         * gt-palm state
         */
        //@include media-query(gt-palm){}


        /**
         * Palm state
         */
        //@include media-query(palm){}





/*----------------------------------------------------------------------------*\
    $THEME
\*----------------------------------------------------------------------------*/
} // use-base-forms