@if $use-base-forms == true {
/*----------------------------------------------------------------------------*\
    $FORMS
    Basic form styling
\*----------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------*\
    $CONTENTS
\*----------------------------------------------------------------------------*/

    /*
    CONTENTS................You're reading it, LOL
    MODULE..................Includes base module & submodules
    STATE...................States the module can be in
    THEME...................Theming of the module
    */





/*----------------------------------------------------------------------------*\
    $MODULE
\*----------------------------------------------------------------------------*/

    /**
     * Basic input component
     *
     * 1. override color in your theme stylesheet
     */
    .text-input {
        @include rem(height, $space);
        display: block;
        max-width: 100%;
        padding: 0px;
        border: 1px solid #ccc; /* 1 */
        background: #fff; /* 1 */

        &:focus {
            border: 1px solid #aaa;
            color: #444; /* 1 */
        }
    }


    /**
     * Textarea
     */
    .textarea {
        @extend .text-input;
        height: auto;
        min-height: 60px;
    }


    /**
     * Error/valid states
     */
    .text-input,
    .textarea {
        &.is-valid {
            &,
            &:focus {
                border: 1px solid #0f0;
                color: #0f0;
            }
        }
        &.is-error {
            &,
            &:focus {
                border: 1px solid #f00;
                color: #f00;
            }
        }
    }


    /**
     * Labels
     */
    label,
    .label {
        display:block;
    }


    /**
     * Fieldsets
     */
    fieldset {
        @include rem(padding, $space);
    }





/*----------------------------------------------------------------------------*\
    $STATE
\*----------------------------------------------------------------------------*/





/*----------------------------------------------------------------------------*\
    $THEME
\*----------------------------------------------------------------------------*/
} // use-base-forms