/*----------------------------------------------------------------------------*\
    $IMAGES
    images
\*----------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------*\
    $CONTENTS
\*----------------------------------------------------------------------------*/

    /*
    CONTENTS................You're reading it, LOL
    MODULE..................Includes base module & submodules
    STATE...................States the module can be in
    THEME...................Theming of the module
    */





/*----------------------------------------------------------------------------*\
    $MODULE
\*----------------------------------------------------------------------------*/

    img{
        max-width: 100%;
        height: auto;
    }

    /**
     * Rounded images
     *
     * We don't need a pixel fallback since browsers wich support border-radius
     * also support rem units
     */
    .img--round{
        @include rem(border-radius, $brand-round, false);
    }


    /**
     * Placement variations
     */
    .img--right{
        float: right;
        @include rem(margin-left, $bsu);
        @include rem(margin-bottom, $bsu);
    }
    .img--left{
        float: left;
        @include rem(margin-right, $bsu);
        @include rem(margin-bottom, $bsu);
    }
    .img--center{
        display: block;
        margin-right: auto;
        @include rem(margin-bottom, $bsu);
        margin-left: auto;
    }


    /**
     * Keep your images on your baseline.
     *
     * Please note, these will not work too nicely with fluid images and will
     * distort when resized below a certain width. Use with caution.
     */
    .img--short{
        @include m-height(5);
    }
    .img--medium{
        @include m-height(10);
    }
    .img--tall{
        @include m-height(15);
    }


    /**
     * Images in `figure` elements.
     */
    figure > img{
        display: block;
    }





/*----------------------------------------------------------------------------*\
    $STATE
\*----------------------------------------------------------------------------*/





/*----------------------------------------------------------------------------*\
    $THEME
\*----------------------------------------------------------------------------*/