/*----------------------------------------------------------------------------*\
    $IMAGES
    images
\*----------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------*\
    $CONTENTS
\*----------------------------------------------------------------------------*/

    /*
    CONTENTS................You're reading it, LOL
    MODULE..................Includes base module & submodules
    STATE...................States the module can be in
    THEME...................Theming of the module
    */





/*----------------------------------------------------------------------------*\
    $MODULE
\*----------------------------------------------------------------------------*/

    img {
        max-width: 100%;
        height: auto;
    }

    /**
     * Rounded images
     *
     * We don't need a pixel fallback since browsers wich support border-radius
     * also support rem units
     */
    .img--round {
        @include rem(border-radius, $brand-round);
    }


    /**
     * Placement variations
     */
    .img--right {
        @include rem(margin-left, $space);
        @include rem(margin-bottom, $space);
        float: right;
    }
    .img--left {
        @include rem(margin-right, $space);
        @include rem(margin-bottom, $space);
        float: left;
    }
    .img--center {
        @include rem(margin-bottom, $space);
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
    .img--full {
        width: 100%;
        height: auto;
    }


    /**
     * Keep your images on your baseline.
     *
     * Please note, these will not work too nicely with fluid images and will
     * distort when resized below a certain width. Use with caution.
     */
    .img--short {
        @include rem(height, $space*5);
    }
    .img--medium {
        @include rem(height, $space*10);
    }
    .img--tall {
        @include rem(height, $space*15);
    }


    /**
     * Images in `figure` elements.
     */
    figure > img {
        display: block;
    }





/*----------------------------------------------------------------------------*\
    $STATE
\*----------------------------------------------------------------------------*/





/*----------------------------------------------------------------------------*\
    $THEME
\*----------------------------------------------------------------------------*/