/*----------------------------------------------------------------------------*\
    $FORMS
    Basic form styling
\*----------------------------------------------------------------------------*/

    @if $flag-base-forms == true{

        /* input styling */
        .text-input{
            display: block;
            padding: 0px;
            max-width: 100%;
            @include m-height();
            border: 1px solid #ccc;
            background: #fff;

            &:focus{
                border: 1px solid #aaa;
                color: #444;
            }
        }

        .textarea{
            @extend .text-input;
            height: auto;
            min-height: 60px;
        }

        .text-input.error,
        .textarea.error,
        .text-input.error:focus,
        .textarea.error:focus{
            border: 1px solid #f00;
            color: #f00;
        }

        /* labels */
        label,
        .label{
            display:block;
        }

    }