/*----------------------------------------------------------------------------*\
    $MISC
    A series of helper classes to use arbitrarily. Only use a helper class if an
    element/component doesn’t already have a class to which you could apply this
    styling, e.g. if you need to float `.main-nav` left then add `float:left;`
    to that ruleset as opposed to adding the `.fl` class to the markup.
\*----------------------------------------------------------------------------*/

    /*  Text & floats
    \*------------------------------------------------------------------------*/

        .fr{
            float: right;
        }
        .fl{
            float: left;
        }

        .text-left{
            text-align: left;
        }
        .text-right{
            text-align: right;
        }
        .text-center{
            text-align: center;
        }
        .caps{
            text-transform: uppercase;
        }



    /*  Bleed
        Pull items full width of '.island' parents
    \*------------------------------------------------------------------------*/

        .full-bleed{
            margin-right: -$base-spacing-unit;
            margin-left: -$base-spacing-unit;

            .islet &{
                margin-right: -($half-spacing-unit);
                margin-left: -($half-spacing-unit);
            }
            .continent &{
                margin-right: -($base-spacing-unit*2);
                margin-left: -($base-spacing-unit*2);
            }
        }



    /*  Image replacement
    \*-------------------------------------------------------------------------*/

        .ir{
            display: block;
            border: 0;
            text-indent: -999em;
            overflow: hidden;
            background-color: transparent;
            background-repeat: no-repeat;
            text-align: left;
            direction: ltr;
            *line-height: 0;
        }

        .ir br{
            display: none;
        }



    /*  Hide from screanreaders & browsers
    \*-------------------------------------------------------------------------*/

        .hidden{
            display: none !important;
            visibility: hidden;
        }



    /*  Hide only visually, but have it available for screenreaders
        as per: h5bp.com/v
    \*-------------------------------------------------------------------------*/

        @mixin visuallyhidden{
            border: 0;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }

        .visuallyhidden{
            @include visuallyhidden;
        }


        /**
         * Visuallyhidden based on breakpoint
         */
        @each $state in palm, lap, lapup, portable, desk, desk-wide{
            @include media-query(#{$state}){
                .visuallyhidden-#{$state}{
                    @include visuallyhidden;
                }
            }
        }



    /*  Hide visually and from screenreaders, but maintain layout
    \*-------------------------------------------------------------------------*/

        .invisible{
            visibility: hidden;
        }



    /*  Puts a list in non-bullet mode
    \*-------------------------------------------------------------------------*/

        .list-clean{
            list-style: none;
            list-style-image: none;
            margin-left: 0;
            padding: 0;
        }